* {
	margin : 0; 
	padding: 0;
}

html, body { 
	height: 100%;
}

#sect-one-container, #sect-two-container{
	height: 100%;
	width: 100%;

}

.bg-img{
	
	height : 100%; 
	width : 100%; 
	object-fit:cover;
}

.sub{
	height: 50%; 
	background-color: blue;
}

#sect-one{
	position: absolute;
	text-align : center;
	top: 5%;
	left: 0;
	right: 0; 
	margin-left: auto; 
	margin-right: auto; 
}

#sect-two{
	background-color: black;
	opacity: 0.8;
	position: absolute;
	top: 787px;
	left: 0;
	right: 0; 
	margin-left: auto; 
	margin-right: auto; 
}
	
}

#call{
	background-color: black;
	font-family: 'Lato', sans-serif;
	font-weight : 100;
	font-size : 85px;
	color: white;
}

#music {	
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	color : #FFFFFF;
	text-align : center;
}

.set-font{
	font-size: 85px;
	font-family: 'Lato', sans-serif;
	font-weight : 100;
}


@media screen and (max-width:959px){
	
	.set-font{
	 	font-size: 40px;
	}
	
}
