* {
	margin : 0; 
}

html, body { 
	height: 100%;
}

img, object{
	max-height: 100%;
	max-width: 100%;
}


.main {
	height: 100%; 
	width: 100%;
	background-size: cover; /*ensures the entire image covers the div*/
	background-position: 50% 50%;
	background-repeat : no-repeat;
}

.sub{
	height: 50%; 
	background-color: blue;
}


.mainImg{
	
	background-image:url('../images/wolf.jpg');
}

.sectTwo{
	background-image: url('../images/forest_moon.png');
}

.set-font-size{
	font-size: 85px;
}

#title{
	text-align : center;
	padding-top: 3%;
	font-family: 'Lato', sans-serif;
	font-weight : 100;
}

#music-header{
	background-color: black;
	opacity: 0.8;
}

#music {	
	font-family: 'Lato', sans-serif;
	font-weight: 100; 
	color : #FFFFFF;
	text-align : center;
}

@media screen and (max-width:959px){
	
	.set-font-size{
	 	font-size: 40px;
	}
	
	.mainImg{
		background-image:url('../images/wolf_small.jpg');
	}
	
}
